{% extends 'base.html' %}

{% block content %}
  <h1 class="center">Movies List</h1>
  <ul>
    {% for movie in movies %}
      <li class="center">
        <a  href="{% url 'movies:movie_detail' movie.id %}">{{ movie.title }}
        <div class="card-image">
          <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie_data.title }} Poster">
          <span class="card-title">{{ movie_data.title }}</span>
      </div>
        </a>
        <!-- Add other movie details as needed -->
      </li>
    {% endfor %}
  </ul>
{% endblock %}