{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Fanatics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li>
                        <a href="{% url 'movies:home' %}" class="left brand-logo"> Film Fanatics</a>
                    </li>
                </ul>
                <div class="float-right">
                    <form class="right" method="GET" action="{% url 'movies:search_results' %}">
                        <input type="text" name="query" placeholder="Search movies">
                        <button class="btn waves-effect waves-light right" type="submit" name="action">Search</button>
                    </form>
                </div>
                <ul class="right">
                    <ul>
                        <li><a href="{% url 'movies:movie_list' %}">Movies</a></li>
                        
                        {% if user.is_authenticated %}
                            <!-- Display user profile link when authenticated -->
                            <li><a href="{% url 'profile' %}">Profile</a></li>
                            
                            <!-- Logout form -->
                            <li>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        {% else %}
                            <!-- Display login and register links when not authenticated -->
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
        <div class="right">
            All Rights Reserved, © 2024 Film Fanatics
        </div>
    </footer>
</body>
</html>